<!DOCTYPE html>
<html>
  <head>
    <title>Number Recognizer Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,400' %>
    <%= yield(:css) %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= yield(:js) %>
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
